.skills {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .skills h3 {
    text-align: center;
  }
  
  .skills ul {
    list-style-type: none;
    padding: 0;
  }
  
  .skills li {
    margin-bottom: 10px;
  }